*/thsi is style sheet for index.html file*/

*{
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

body{
    background-color: ligthblue;
}

div{
  color: red;
  /*thsis style only apply in the new-style branch*/
}